@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --border-radius: 12px;
    --accent-color: #2a358d;
    --background-color: #fafafa;
    --invert-background-color: #1a1a1a;
    --accent-color-very-light: color-mix(in oklab, var(--accent-color), var(--background-color) 92.5%);
    --accent-color-light: color-mix(in oklab, var(--accent-color), var(--background-color) 50%);
    --accent-color-semi-light: color-mix(in oklab, var(--accent-color), var(--background-color) 25%);
    --accent-color-dark: color-mix(in oklab, var(--accent-color), var(--invert-background-color) 25%);

    --text-color: var(--accent-color-dark);
    --link-color: var(--accent-color-semi-light);
    --border-color: var(--accent-color-semi-light);
    --selected-color: var(--accent-color-very-light);
    --separator-color: #e0e0e0;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 15px 30px;
    padding-bottom: 25vh;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--text-color);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

p, input, textarea, select {
    color: var(--text-color);
}

.Select-multi-value-wrapper, .Select-value, .Select-menu-outer {
    color: var(--text-color) !important;
}

.Select-value-label {
    color: color-mix(in oklab, var(--text-color), transparent 50%) !important;
}

.Select-control, .Select-menu-outer {
    border-color: var(--border-color) !important;
}

.VirtualizedSelectFocusedOption {
    background-color: var(--selected-color) !important;
}

header {
    padding: 20px;
    border-bottom: 1px solid var(--separator-color);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav > a {
    text-decoration: none;
    font-size: 1.25rem;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a::before {
    content: '- ';
    display: inline;
}

.page-content > div:not(:last-child) {
    border-bottom: 1px solid var(--separator-color);
}

.dash-dropdown {
    margin-bottom: 50px;
}


#dashboard-content {
    display: grid;
    place-items: center;
}

#dashboard-content > * {
    margin-top: 3vh;
    padding: 1vh 2vw;
    border: 1px solid var(--separator-color);
    width: 80%;
}
